[2017-11-13 19:10] wei-v-wang commented on #418
If it is cifar10 data, can you please check whether that worked for cifar10_msra.py under examples/ directory?
If "python cifar10_msra.py" does not work, it might be data ingestion issue.
Otherwise, can you incrementally migrate cifar10_msra.py to your model?

[2017-11-13 19:34] pantherso48 commented on #418
Which cifar example? I am not seeing a cifar10_msra.py file.

![image](https://user-images.githubusercontent.com/13629866/32745141-c8f1bf68-c87f-11e7-8efc-7d06407f64e4.png)

[2017-11-13 19:49] wei-v-wang commented on #418
My bad. Under cifar10_msra folder, there is data.py, train.py, README.md

Please run
"python data.py  --out_dir ."  (data ingestion, which produces csv files etc under "." current directory )
You will see output like:
DISPLAY:neon:Downloading file: ./cifar-10-python.tar.gz
Download Progress |██████████████████████████████████████████████████| DISPLAY:neon:Download Complete
100%|███████████████████

[2017-11-13 20:18] pantherso48 commented on #418
Ok that is running now, so since this is training the model does that train.py script replace this line of code?

train_set = AeonDataLoader(config, be)

[2017-11-13 20:24] wei-v-wang commented on #418
I think the data.py and several lines of train.py (see below)

# setup data provider
train = make_train_loader(args.manifest['train'], args.manifest_root, model.be, args.subset_pct,
                          random_seed)
test = make_validation_loader(args.manifest['val'], args.manifest_root, model.be, args.subset_pct)

would achieve what you want "train_set = AeonDataLoader(config, be)"  to achiev

[2017-11-13 21:20] yzhwang commented on #413
I'm trying to compare openai-gemm with cublas v9 and I get the same FPE error when using the following command line to build:
'make lib/c_interface.o'
Is there any plan to make openai-gemm work with CUDA 9?

[2017-11-14 12:47] xingjinglu commented on #413
https://github.com/xingjinglu/PerfAILibs/blob/master/README.md

On Tue, Nov 14, 2017 at 5:20 AM, Yangzihao Wang <notifications@github.com>
wrote:

[2017-11-14 14:19] pantherso48 commented on #418
Okay that makes sense, is there a list of the datasets Neon provides? I see MNIST and cifar10 but was curious if there are others like cats and dogs?

[2017-11-14 18:17] wei-v-wang commented on #418
There is imagenet folder under examples/imagenet
There is also LSUN dataset for GANS

[2017-11-14 18:54] wei-v-wang commented on #410
Hi @riccitensor In the latest neon commits, we added fixes to deep_dream.
Could you please try the tip of neon master branch and verify?

Thank you!

[2017-11-14 22:13] #418 closed

[2017-11-15 15:10] pantherso48 opened #419 "Is the Affine layer like Flatten in Keras for CNN since it is linear?"
I am looking through https://github.com/NervanaSystems/meetup/blob/master/cifar_example.ipynb as an example for writing my own CNN with my own data (cats and dogs images).

I am trying to mimic the same CNN I have created with Keras but classifying images and when I need to take the filtered feature map and flatten it in a layer I am looking to Affine layer to achieve this but not sure and could u

[2017-11-16 09:40] Ammiraglio625 opened #420 "How to switch from Keras Conv3D to Neon"
Hello, I would like to ask your help.
I am try to re-write my keras (tensorflow) code in neon. I am using a CNN with 3D convolutional layers. I have some problems regarding the creation of the data format and the 3D Conv layer definition in neon.

Firstly, I give you the keras model:

def build_model_standard(input_shape, activation, num_classes):
    model = Sequential()
    model.add(Conv3D(48,

[2017-11-16 14:33] riccitensor commented on #410
Hey @wei-v-wang Works for me now. Thanks a lot!

[2017-11-16 17:05] pantherso48 opened #421 "'DirectoryIterator' object has no attribute 'nbatches'"
Hi guys,

I am loading my own data using Keras which created a Directory Iterator that is filled with 2 classes of images. After creating my model layers, cost callback, and optimizer I run fit() on my model:
`from keras.preprocessing.image import ImageDataGenerator

train_datagen = ImageDataGenerator(rescale = 1./255,
                                   shear_range = 0.2,

[2017-11-16 17:11] wei-v-wang commented on #410
Ok, thanks @riccitensor for confirming.

[2017-11-16 17:11] #410 closed

[2017-11-17 17:52] wei-v-wang commented on #421
Hi @mrysztow Could you please take a look?

[2017-11-22 17:31] wei-v-wang commented on #406
https://github.com/NervanaSystems/neon/commit/082da5dc72c6e5b1dd7c1851a9110df56ae4aa41
has the merged PR.

[2017-11-22 17:31] #406 closed

[2017-11-24 19:10] griffonn commented on #410
Hi, the same assertion error appears when using deepspeech with neon 2.3:
[code]

[code]

[2017-11-25 01:44] wei-v-wang commented on #410
Hello @griffonn Could you please follow the discussion in https://github.com/NervanaSystems/neon/issues/415 and see if you can convert the model weights?
If not, I can do the conversion for you.

[2017-11-27 23:31] wei-v-wang commented on #416
https://github.com/xingjinglu/PerfAILibs/blob/master/README.md seems to already get the workaround by @xingjinglu.

[2017-11-27 23:31] #416 closed

[2017-11-27 23:32] #413 closed

[2017-11-29 07:20] buriy opened #422 "Too many dependencies on pip install"
It's great that you made a PyPI setup file.
Now it'd be cool to use it to install nervananeon on production machines.
But then why do we need documentation tools (sphinx) and testing tools (pep8, flake8, pylint, pytest-cov, pandoc, pytest-mock)? They are only needed for development. Removing it from the list will cut most of the dependencies.
Here is the project package tree right now:
[code]

[2017-11-29 07:25] baojun-nervana commented on #422
Thanks for the feedback. We will look into cleaning up the dependencies.

[2017-11-29 19:27] wei-v-wang commented on #372
Please re-open if "latest" still has the same issue.

[2017-11-29 19:27] #372 closed

[2017-11-30 01:06] paritoshsaxena opened #423 "Examples folder is missing when installed using pip install nervananeon"
just completed the installation https://pypi.python.org/pypi/nervananeon/2.4.0

[2017-11-30 01:20] baojun-nervana commented on #423
thanks for the feedback. Looking into it.

[2017-12-04 05:43] miketout opened #424 "Major memory leak on somewhat advanced models using cpu backend"
Hi,
I've actually forked and have been using Neon for some time. I have built some fairly large systems with it, but until recently updating my source tree to 2.3+, I hadn't run into these issues.

I previously updated some capabilities in 1.8, such as being able to nest various trees, merge containers, and more, and have more recently updated to 2.3+, ported some of my previous work to the newer

[2017-12-04 05:47] miketout opened #425 "Sigmoid function in CPU backend is numerically unstable"
To prevent crashing on a regular basis, I've had to add the following file to our project. I would really prefer not to do this:

from scipy.special import expit

def fix_logistic_cpu(be):
    try:
        from neon.backends.nervanacpu import numpy_call_dict_cpu
        assert not numpy_call_dict_cpu.get('sig', None) is None
        numpy_call_dict_cpu['sig'] = lambda left: expit(left)
    except

[2017-12-05 04:30] miketout commented on #424
It looks like the issue is related to padding. I have removed some areas on our model where there was padding that we didn't need, and the leak is gone. Right now, I'd consider this a workaround. If you're interested, or if I can in the near future, I will try to put together a repro case.

[2017-12-05 06:05] wei-v-wang commented on #424
Thanks @miketout for digging into the above issue and coming up a workaround. We will try to take a look and try to reproduce after you release the open source ML project.

[2017-12-06 05:56] yangyang-zhang opened #427 "Enable gpu error"
I install cuda and environment set,

[code]
I don't understand why CPU and GPU install the same package,It should be used when the GPU package is installed by TensorFlow.
[code]

[2017-12-06 09:36] yangyang-zhang opened #428 "make neon error"
[code]
I need help,thanks

[2017-12-06 17:08] baojun-nervana commented on #428
would you try
make clean
rm -rf mklml_lnx_* build

We are working on to update the "make clean" to clean up mkl artifacts.

[2017-12-06 19:23] baojun-nervana commented on #427
@yangyang-zhang Thanks for the feedback. We will look into this.

[2017-12-08 18:04] wei-v-wang commented on #428
@yangyang-zhang please tell a look at this closed issue:

https://github.com/NervanaSystems/neon/issues/414

[2017-12-10 11:34] ZE0TRON opened #429 "MKL not supported For Mac Osx"
By following the steps in ReadMe.md we can end up with the error
`/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/neon/backends/mklEngine/mklEngine.so: unknown file type, first eight bytes: 0x7F 0x45 0x4C 0x46 0x02 0x01 0x01 0x00`
while using python3.
ReadMe.md can be updated with the info that MKL is not supported For Mac Osx so while using python3 people should use

[2017-12-13 18:31] wei-v-wang commented on #429
@ZE0TRON Currently neon with Intel Architecture optimizations (w/ Intel MKL Integration) do not support MacOS -- although Intel Math Kernel Library (MKL) already supports MacOS.
The reason you saw the above was because neon by default download Linux MKL, while MacOS MKL is available from a similar URL https://github.com/01org/mkl-dnn/releases/download/v0.11/mklml_mac_2018.0.1.20171007.tgz  (you ca

[2017-12-14 00:26] baojun-nervana commented on #427
@yangyang-zhang   You may install the gpu requirements if you want to run on gpu backend.

https://github.com/NervanaSystems/neon/blob/master/gpu_requirements.txt

pip install pycuda, scikit-cuda, pytools

[2017-12-14 00:28] baojun-nervana commented on #423
@paritoshsaxena   The examples are meant to be references to users. Would you mind download them separately.

[2017-12-20 15:45] armando-fandango opened #430 "mkl build error"
mkl root: /mnt/disk1tb/projects/github/neon/./build/
make[1]: Entering directory '/mnt/disk1tb/projects/github/neon/neon/backends/mklEngine'
make[1]: Leaving directory '/mnt/disk1tb/projects/github/neon/neon/backends/mklEngine'
make[1]: Entering directory '/mnt/disk1tb/projects/github/neon/neon/backends/mklEngine'
Building mklEngine.so...
gcc src/conv.c src/pooling.c src/relu.c src/batchNorm.c src

[2017-12-20 15:49] armando-fandango commented on #427
@baojun-nervana I am getting the same error even after installing all pre-req:

: error: argument -b/--backend: invalid choice: 'gpu' (choose from 'cpu', 'mkl')

[2017-12-20 15:58] baojun-nervana commented on #430
@armando-fandango Would you reference to https://github.com/NervanaSystems/neon/issues/428?

You may try

make clean
rm -rf build mklml_lnx_*
make

[2017-12-20 15:59] baojun-nervana commented on #427
@armando-fandango Can you try to install the gpu dependencies?

pip install pycuda, scikit-cuda, pytool

[2017-12-20 16:03] armando-fandango commented on #427
@baojun-nervana yes all the gpu dependencies are installed and I think my message above said that "even after installing all pre-req"

[2017-12-20 16:04] armando-fandango commented on #427
I see that in makefile you are doing this : nvcc neon/backends/util/check_gpu.c > /dev/null 2>&1 && ./a.out && rm a.out && echo true

This is always returning an empty HAS_GPU string no matter what. I compiled the check_gpu.c outside of the makefile and it compiles.

Is something fishy in above code ?

[2017-12-20 16:13] baojun-nervana commented on #427
It seems you don't have nvcc compiler installed or it is not set in the PATH.

make sure "which nvcc" return right path first.

[2017-12-20 16:21] armando-fandango commented on #427
this command works and produces the a.out : nvcc neon/backends/util/check_gpu.c

[2017-12-20 17:19] baojun-nervana commented on #427
It sounds it should work. Is the PATH set up right too?

export PATH="/usr/local/cuda/bin:"$PATH
export LD_LIBRARY_PATH="/usr/local/cuda/lib64:/usr/local/cuda/lib:/usr/local/lib:"$LD_LIBRARY_PATH

[2017-12-20 19:09] armando-fandango commented on #427
After reinstalling CUDA and Neon, now I am getting this error:

python3 examples/mnist_mlp.py -b gpu
Traceback (most recent call last):
  File "/usr/local/lib/python3.5/dist-packages/pycuda/tools.py", line 426, in context_dependent_memoize
    return ctx_dict[cur_ctx][args]
KeyError: <pycuda._driver.Context object at 0x7f7aa4360500>

During handling of the above exception, another exception occurr

[2017-12-20 20:26] armando-fandango commented on #428
@wei-v-wang in my case the file is getting downloaded automatically, and also has the mkl_dnn.h:

ls *
license.txt

include:
i_malloc.h  mkl_cblas.h  mkl_dnn_types.h  mkl_lapack.h   mkl_trans.h  mkl_version.h      mkl_vml_functions.h  mkl_vml_types.h    mkl_vsl_functions.h  mkl_vsl_types.h
mkl_blas.h  mkl_dnn.h    mkl_lapacke.h    mkl_service.h  mkl_types.h  mkl_vml_defines.h  mkl_vml.h

[2017-12-20 20:27] #430 closed

[2017-12-20 20:31] armando-fandango commented on #428
@baojun-nervana The make clean doesnt work for me so I am doing make sysclean and removing the mkl folders manually, and then running make sysinstall_python3.

The mkl is downloaded and unarchived but then the build engine fails.

[2017-12-20 20:32] baojun-nervana commented on #428
did you try to delete the build folder as well?
rm -rf mklml_lnx_* build

[2017-12-20 20:37] armando-fandango commented on #428
ok after deleting it couple of times it worked finally and no mkl engine build errors. thanks.

[2017-12-20 20:39] baojun-nervana commented on #428
We will update "make clean" to remove the mkl artifacts for next release. Thanks.

[2017-12-20 20:42] armando-fandango commented on #428
@baojun-nervana please also incorporate my patch if you can, specially for system install it keeps asking for venv and also for python3 install the current doesnt work properly.

[2017-12-20 20:45] baojun-nervana commented on #428
thanks. We will look into it.

[2017-12-21 06:23] yangyang-zhang commented on #427
Thank you, I've already solved it.

[2017-12-21 06:23] #427 closed

[2017-12-21 06:23] yangyang-zhang commented on #428
Thank you, I've already solved it.

[2017-12-21 06:23] #428 closed

[2017-12-24 05:03] sangameshnr opened #431 "Instance normalization for fast style transfer"
Hi,
I am trying to implement a custom layer in neon for Instance normalization as given in this paper,
https://arxiv.org/abs/1607.08022.
It is different from BatchNormalization in a way that for an image tensor (C,H,W,N), the mean and variance are calculated only for HxW dimensions. I created an op-tree and the autodiff generates an error which is quite obscure. Please see the code below,
********

[2018-01-02 22:28] baojun-nervana commented on #431
@sangameshnr It seems you encountered a scenario which is currently not supported. The batchnorm reduced 1 dimension and created a shape mismatch. Would you be able to work around in a 2d domain?

[2018-01-02 22:37] sangameshnr commented on #431
Hi,
Thanks for the reply. I was able to do that in 2d after a couple of transposes and reshapes.

Following up, I have another question. I need to tap outputs from multiple convnet layers of my VGG pretrained network. Is there a simple way to do that? model.get_ouputs() gives final layer outputs but I need outputs from some middle layers also in the VGG-16 network that has "pretrained weights" loa

[2018-01-02 23:18] sangameshnr commented on #431
I figured out that I need to use model.layers.layers[i].outputs after running model.get_outputs() to get outputs from different layers.

Thanks.

[2018-01-04 19:23] #429 closed

[2018-01-04 19:25] wei-v-wang commented on #429
Turned out using gcc might work on Mac for enabling MKL. Please stay tuned.

[2018-01-05 23:09] #431 closed

[2018-01-06 01:48] miketout commented on #424
Here's a link to the open source project, which was just released by Synacor:
https://github.com/Zimbra/zimbra-ml

It requires some modifications I made to Neon in my fork, primarily for allowing broadcast or multistream containers to be fed by tree or sequential graphs from above. I also disable MKL, as I've found that it doesn't run. I'll probably open a separate issue on that.

As far as this m

[2018-01-10 02:14] pantherso48 opened #432 "Unable to save model every n epochs"
I am looking to run my model and save the epoch every n epochs, want to start with 10 and then see what my plots look like after.

If I run this function:
 mlp.fit(train_set,
                optimizer=optimizer,
                num_epochs=epochs,
                cost=cost,
                callbacks=callbacks)

How can you save the model outcome per n number of epochs?

Thanks!

[2018-01-10 03:21] baojun-nervana commented on #432
@pantherso48   Did you try "--serialize N"?

[2018-01-10 14:12] armando-fandango commented on #432
@baojun-nervana we are trying to use neon on the local machine. Does this option work without the ncloud? Also, does it save accuracy and loss after every epoch? If not what is the best way to get accuracy vs. epoch graph after running for let us say 500 iterations.

[2018-01-10 16:58] pantherso48 commented on #432
Update:

I have tried to get the Accuracy of each epoch's run in two ways, one by adding the metric=Accuracy() argument to the Callbacks instantiation. In the source code this argument causes a callback to be added. But I am not seeing any output in my logs. I am using jupyter notebooks, would running in terminal help?

The other way I tried was using the add_callback() function in Callbacks class

[2018-01-10 17:51] baojun-nervana commented on #432
@armando-fandango @pantherso48 I believe the "--serialize N" argument will do the same for local and cloud system.

The following example has log on accuracy. Hope it can help.
https://github.com/NervanaSystems/neon/blob/master/examples/babi/train.py

[2018-01-10 18:36] armando-fandango commented on #432
@baojun-nervana This example logs accuracy at the end. We want to log the accuracy and cost after every epoch of training, within the fit function.

[2018-01-10 23:25] baojun-nervana commented on #432
@armando-fandango  I don't think there is a convenient way to save accuracy and loss info  the model parameters. The model usually has output on lost and accuracy. Can you extract those info from the output?

[2018-01-10 23:54] hanlin-nervana commented on #432
Hello @armando-fandango , we have several options. If you are running in terminal, we have several command line options to both serialize the model parameters, but also generate the cost/loss/accuracy telemetry data.

[code]

When you run the above, the accuracy/cost after every epoch of training will be logged in an HDF format dataset for your subsequent use. The model will also be saved as `mymo

[2018-01-11 00:01] hanlin-nervana commented on #432
Additionally, if you are running in ipython, and want to see the log output, you will have to increase the logger level via:
[code]
For an example of this, see [this notebook](https://github.com/NervanaSystems/neon_course/blob/master/03%20Writing%20your%20own%20dataset.ipynb):

We also have some experimental routines for directly plotting the loss during training. See [this notebook](https://githu

[2018-01-11 00:26] sangameshnr opened #433 "MergeSum gives an error for custom layer"
Hi,
I am trying to use MergeSum in my network to implement Resnet kind of layer. In short, consider a layer with 2 paths like this:
path1: [ conv2d, conv2d]
path2: [crop() ] .. custom layer
layer = [MergeSum([path1,path2])]  ... this works fine for existing layers but fails for custom layer. For instance, I took the custom layer Normalize() from SSD examples (neon/examples/SSD/layer.py) and used t

[2018-01-11 22:35] pantherso48 commented on #432
Created a custom callback function and retrieved the accuracy and cost by using the callback dictionary, thanks for the help!

[2018-01-11 22:35] #432 closed

[2018-01-11 23:37] baojun-nervana commented on #433
@sangameshnr  Do you have the similar issue with cpu backend (-b cpu)? I am wondering if this is mkl specific?

[2018-01-12 00:32] sangameshnr commented on #433
Yes. I get this error for 'mkl' backend and not for 'cpu'.

[2018-01-12 19:30] sangameshnr commented on #433
I have one more comment. For cpu backend, though there is no error, the fprop output of the MergeSum layer is equal to the second path only. It does not return the sum of two paths. Am I missing something here  ??

[2018-01-12 23:11] baojun-nervana commented on #433
@sangameshnr  Thank you for the info. We are looking into it.

[2018-01-14 08:54] moderato opened #434 "No GlobalAveragePooling Layer?"
Hello! Just wondering if the team has a plan to add a GlobalAveragePooling Layer to the library? Sometimes it's quite inconvenient to infer the input size of the Pooling layer. Thanks!

[2018-01-15 18:29] pantherso48 opened #435 "Where is the ncloud source code located at?"
Hello,

I am looking at how to use the Python client to run my model on ncloud but am having trouble finding the source code mentioned in the documentation located here:
http://doc.cloud.nervanasys.com/docs/latest/rest_api.html#python-client

The question is where can I find the source code for ncloud to use the libraries like commands to run my model in a notebook.

Please let me know, thanks!

[2018-01-16 04:49] airofjune commented on #433
@sangameshnr
MergeSum on CPU backend applies an adding  function dependent on: 1 shared output  2 beta argument.
Thus custom layer should write correct allocate() and fprop().

[2018-01-16 15:04] pantherso48 commented on #435
from ncloud import config, commands
from ncloud.commands import model
from ncloud.commands.model import Train
import inspect

c = config.Config()

#print(model.deploy.call(c))
inspect.getsourcelines(Train)

This is the solution I used to look into the source code while the documentation is being updated, hope this helps anyone out that needs it!

[2018-01-16 15:04] #435 closed

[2018-01-19 04:19] scigeek72 opened #436 "Skip thought vectors"
I would like to use the skip thought vectors implementation in neon. The documentation provided is not enough. Is there a tutorial available on how to obtain skip thought vectors from scratch on my own documentation ? I have created a virtual environment and downloaded neon. I am not sure how to train the skip thought model. Thanks.

[2018-01-19 04:26] baojun-nervana commented on #436
@scigeek72
Which backend do you use?
Below is an example I used to run skip-thought model. It used a small subset of data to demo it can train. (--subset_pct 0.1 means 0.1% of the dataset)

python examples/skip-thought/train.py -e 2 -b mkl --serialize 1 --no_progress_bar -v -s examples/skip-thought/train.prm -l tmpfile.log  -w /dataset --subset_pct 0.1

[2018-01-19 04:28] baojun-nervana commented on #434
@moderato Thank you for the information. We will evaluate the option on this.

[2018-01-19 04:29] baojun-nervana commented on #433
@sangameshnr We will include the fix in next release.

[2018-01-19 05:29] sangameshnr commented on #433
@airofjune thanks for the comment on the arguments. I will note that.
@baojun-nervana thanks for taking care of the issue. I will look forward to the release.

[2018-01-19 12:56] scigeek72 commented on #436
Thanks @baojun-nervana for our quick response.
I am using MacOSX and no GPUs. But I can fire up a compute node on AWS to use GPU.

I don't have any experience with neon. Do I need to use any other ? I use **keras with tensorflow** as a backend for deep learning related experiments.
Does these models ship with neon or do we have to separately download them from github?
Also, what's the average trai

[2018-01-23 09:27] baojun-nervana commented on #436
@scigeek72 The example can run on either cpu or gpu.

With gpu backend, it takes about 3 hrs per epoch. For cpu mkl it will takes about 30hrs per epoch.

[2018-01-23 10:19] moderato commented on #434
@baojun-nervana Thanks! That would be very helpful.

[2018-01-23 10:38] moderato opened #437 "[With NVIDIA K40c] K dim must be multiple of 4"
Hello! I got this error when I try to initialize a model with the input data:

[code]

I searched a bit and found the answer to a similar bug here:
https://github.com/NervanaSystems/neon/issues/318
which is saying this is caused by some kernels which don't support pre-Maxwell GPUs.

My code of Resnet-32 runs well on K40, while the above bug comes from another program with a custom model. I guess i

[2018-01-24 01:25] mas-dse-greina opened #438 "libmklml_intel.so not found"
I just built neon on a CentOS 7 (3.10.0-693.11.6.el7.x86_64) within a conda (Python 2.7) environment. The build appeared to be successful, but when I try to run the mnist_mlp.py example, I get:

I found this online and am trying the suggestion at the end to rebuild mkl-dnn from source (https://github.com/tensorflow/tensorflow/issues/13711).

[2018-01-24 01:53] mas-dse-greina commented on #438
It looks like this works:

Maybe the .tar.gz file that is being included with neon needs to be updated??

[2018-01-24 02:33] baojun-nervana commented on #438
@mas-dse-greina It is good you can fix the issue by setting the library path.
Sometimes it may need to clean up before built. You may run

make clean   => this will clean up all the mkl artifacts
make install  => it will download mkl and do a fresh install.

[2018-01-26 22:53] wei-v-wang commented on #438
Thanks for reporting. Looks like there is a URL change for the tar.gz.
Your approach using latest mkl-dnn (open-source) was able to avoid calling buggy URL.

[2018-01-26 22:54] wei-v-wang commented on #438
We'll fix our code on the URL

[2018-01-26 22:58] mas-dse-greina commented on #438
Thanks!

-Tony

On Fri, Jan 26, 2018 at 2:54 PM, Wei Wang <notifications@github.com> wrote:

[2018-01-26 23:01] wei-v-wang commented on #438
Reopen till URL is changed. Sorry for the confusion...

[2018-01-30 18:05] wei-v-wang commented on #438
https://github.com/NervanaSystems/neon/commit/f43cfa2e26f9c84b0f42fcda50b6b83104623223 closes this issue. Thanks again for reporting!

[2018-01-30 18:05] #438 closed

[2018-02-07 18:24] tawnkramer opened #439 "support for ARM"
would be nice to see support for aarch64

[2018-02-12 15:08] jannepy opened #440 "Convert v1 model file to current version"
We have an older Neon v1 model which we'd like to use with the latest Neon version. However, the model loading fails due to this assert:
File "neon/neon/layers/container.py", line 200, in load_weight
  assert len(pdict['config']['layers']) == len(self.layers)

This same issue has been reported with the pre-trained deep speech model: https://github.com/NervanaSystems/deepspeech/issues/63

Is there

[2018-02-12 17:05] wei-v-wang commented on #440
What do you mean by "v1 model" ? Which model is that.
Is that DeepSpeech model and was it used to work with an older neon version?

[2018-02-13 07:35] jannepy commented on #440
It is based on the DeepSpeech model, and it has been trained with Neon 1.8. It appears that the models serialized with the old 1.* versions are no longer compatible with the latest Neon. Is there some way to convert those models such that they can be used with version 2.6?

[2018-02-13 07:47] wei-v-wang commented on #440
neon 2.3+ versions should be able to load the model trained in neon 1.8, and re-save it in neon 2.3+ format.

Please see this issue: https://github.com/NervanaSystems/neon/issues/415
and please pay attention to the comment that "i was able to load and save the new model by printing out the model architecture and verifying that the structure of the layers where equal".

[2018-02-20 17:42] rjfnobre opened #441 "Plans to support OpenCL or HIP?"
Are there any plans to suport OpenCL or HIP (https://gpuopen.com/compute-product/hip-convert-cuda-to-portable-c-code)?

[2018-02-22 05:31] c54852533 opened #443 "Run time error with pycuda tool"
When i test the neon and type the next instruction
`__python cifar10_conv.py`
Here comes the problem
[code]
My neon is installed by anaconda and cuda version is 9.0.176_384.81
Who knows what's going on with this situation?

[2018-02-23 00:57] baojun-nervana commented on #443
@c54852533 It seems there is issue with cuda v9. We are using v8.

$ nvcc --version
nvcc: NVIDIA (R) Cuda compiler driver
Copyright (c) 2005-2016 NVIDIA Corporation
Built on Tue_Jan_10_13:22:03_CST_2017
Cuda compilation tools, release 8.0, V8.0.61

[2018-02-24 00:35] c54852533 commented on #443
@baojun-nervana
Problems solved well! Thanks!

[2018-02-28 00:21] yataoz opened #444 "Convolutional Layer for Binary Neural Nets"
Is there any layer I can use to do convolution on binary inputs and weights. I saw the BinaryLinear layer uses XNOR and bitcount operations to replace matrix multiplication. What I'm looking for is a convolutional version of BinaryLinear. Thanks!

[2018-02-28 08:15] baojun-nervana commented on #444
@yataoz We don't have such a layer I believe.

[2018-02-28 18:00] yataoz commented on #444
@baojun-nervana Alright, got it. Thanks!

[2018-03-05 02:34] yiqiaoc11 opened #445 "libmklml_intel.so not found"
This one has similar symptom as #438. Running bAbI @ Anaconda 3.5 with latest version.

Traceback (most recent call last):
  File "examples/babi/train.py", line 81, in <module>
    be = gen_backend(**extract_valid_args(args, gen_backend))
  File "/home/watson/anaconda3/lib/python3.6/site-packages/neon/backends/__init__.py", line 113, in
gen_backend
    deterministic=deterministic)
  File "/home/wa

[2018-03-05 08:10] fengpingbaustem opened #446 "Any converted pretrained weights of UCF101-C3D for neon v2?"
I followed the video-c3d in example, but failed to run the demo.py  with the pretrained weight in the link. The error occurs in the assert len(pdict['config']['layers']) == len(self.layers), I try to follow the discussion in  #415, but still can't fix it. Do you have a converted version of that weight?

[2018-03-05 09:46] yiqiaoc11 commented on #445
ctypes.cdll.LoadLibrary(mkl_engine_path), mkl_engine_path is correct, but can't be loaded.

[2018-03-06 07:00] wei-v-wang commented on #445
Can you paste your "echo $LD_LIBRARY_PATH" and see if that path contains libmklml_gnu.so?

[2018-03-06 15:17] yiqiaoc11 commented on #445
:/usr/local/lib
I just got this one resolved by reinstalling it with conda rather than pip. We can close this one.
BTW, the installation tutorial indicates we need to create source activation for neon. Not sure if we can ignore it as we might need include some pytorch packages which could conflict with activated neon.

[2018-03-06 22:36] #445 closed

[2018-03-10 17:14] Pratyusha1796 commented on #445
@yiqiaoc11  can you help me out with this same error i am facing
2018-03-10 12:13:24,836 - neon.backends - WARNING - deterministic_update and deterministic args are deprecated in favor of specifying random seed
Traceback (most recent call last):
  File "inference.py", line 57, in <module>
    be = gen_backend(**extract_valid_args(args, gen_backend))
  File "/home/pratyusha/Envs/ronin/local/lib/pyt

[2018-03-14 17:56] wei-v-wang commented on #445
As a workaround, can you download neon and do "make clean; make" , i.e. not using pip for now.

[2018-03-14 17:57] #443 closed

[2018-03-14 18:00] wei-v-wang commented on #446
Thanks for reporting, we will address this gap.

[2018-03-16 10:12] jannepy opened #447 "RNN inference with different sequence lengths"
Is it possible to use a recurrent Neon model to do inference over multiple data sequences, which differ in lengths? The sequence lengths vary greatly, and for efficiency I want to avoid padding.

[2018-03-19 10:55] lixiangchun opened #448 "train.cfg in video-c3d"
Any example about the content of `train.cfg` used in `video-c3d`?

[2018-03-19 16:46] baojun-nervana commented on #448
@lixiangchun Below is an example. Hope it can help you.

manifest = [train:/dataset/aeon/V3D/ucf-extracted/train-index.csv, test:/dataset/aeon/V3D/ucf-extracted/test-index.csv]
manifest_root = /dataset/aeon/V3D/ucf-extracted
backend = gpu
epochs = 10
batch_size = 32
eval_freq = 1
log = video-c3d.log
output_file = video-c3d.hdf5
device_id = 0
data_dir = /dataset

[2018-03-21 13:46] lixiangchun commented on #448
@baojun-nervana Thanks for your help.

Error in running python3 examples/video-c3d/train.py:

[code]

[2018-03-21 17:55] baojun-nervana commented on #448
That might be an issue related to configargparse version. That occurs on the newest version of the configargparse. The requirements.txt file recommends to use the following version.

configargparse==0.10.0

[2018-03-22 01:53] lixiangchun commented on #448
Thanks, it works now.

However, I found that this repo only supports CPU or MLK as backend. The CPU usage is oscillating around 60%, and the training process is very very slow.

How to enable GPU as the backend for this repo?

[2018-03-22 02:38] baojun-nervana commented on #448
@lixiangchun The example can run with GPU backend. What error did you see with gpu backend?
you might need to install the gpu dependencies.
https://github.com/NervanaSystems/neon/blob/master/gpu_requirements.txt

[2018-03-22 03:00] lixiangchun commented on #448
@baojun-nervana After installing all packages in gpu_requirements.txt, the GPU backend can be used; however, the following error occurs:

[code]

My `train.cfg` is:
[code]

Training was done via:
[code]

[2018-03-22 22:16] baojun-nervana commented on #448
@lixiangchun Are you using cuda9?
I am using cuda8 and there was issue reported on cuda9.

$nvcc --version                                              │·
nvcc: NVIDIA (R) Cuda compiler driver                                                                             │·
Copyright (c) 2005-2016 NVIDIA Corporation                                                                        │·
Built on Tu

[2018-03-23 15:27] lixiangchun commented on #448
@baojun-nervana Thanks. Yes, I use cuda9. Will go back to cuda8 and try again.

[2018-04-21 13:38] zhiltsov-max opened #449 "Dtype issues with gpu backend"
Hello, I was experimenting with Neon and had faced an issue with the convolutional and pooling layers. The task was image classification, so the input data shape was (3, H, W). If an `ArrayIterator` or `HDF5Iterator` are used as datasets, then the input shape values might have `numpy` datatypes like `numpy.int64` (for `ArrayIterator` it is provided by `lshape` parameter, for `HDF5Iterator` they ar

[2018-04-21 17:13] zhiltsov-max opened #450 "Merge container and BiRNN layers memory errors"
Hello, I have been trying to use MergeBroadcast and BiRNN layers and faced some issues.

1. BiRNN implementation does not expect layer to be the first layer in the network. So, the code like:
[code]
Fails during initialization with the following error:
[code]

2. BiRNN layer allocation implementation [does wrong allocation](https://github.com/NervanaSystems/neon/blob/master/neon/layers/recurrent.p

[2018-04-21 18:46] zhiltsov-max opened #451 "Model loading error"
Hello, I have faced an issue in model loading while trying to load ResNet-like model. The simplest steps to reproduce I found is to use the following model:
[code]

This produces the following error during loading from saved weights:
[code]
The key components of this problem is:
- [`pairwise` function](https://github.com/NervanaSystems/neon/blob/master/neon/layers/container.py#L35), which adds a `

[2018-04-23 22:45] baojun-nervana commented on #451
@zhiltsov-max Thanks for the finding and improving neon.

[2018-04-23 22:55] baojun-nervana commented on #449
@zhiltsov-max Agreed. A type check is needed here.

[2018-04-23 23:04] baojun-nervana commented on #450
@zhiltsov-max Thanks for your findings and recommendations. Appreciated!

[2018-05-24 03:58] divyanshj16 opened #452 "has Neon Framework development stopped? Last commit is on 9th feb."

[2018-06-01 18:27] wei-v-wang commented on #452
https://github.com/NervanaSystems/ngraph is the continuation and evolved version of neon. Please have a try, ngraph is compatible with neon models. Please file issues at https://github.com/NervanaSystems/ngraph if you encounter neon issues while using ngraph. Thanks!

[2018-06-01 18:27] #452 closed

[2018-06-02 06:09] divyanshj16 commented on #452
@wei-v-wang Thankyou for the information. But it still doesn't answer my question.
I asked whether neon will be continued or not?

[2018-07-10 12:54] Kensuke-Hinata opened #453 "MKL is not installed correctly"
I tried to generate backend with mkl, but I got such exception:
"AssertionError: MKL is not installed correctly"

Actually I have already installed mkl pkg on macos.

If you can do me a favor, I would be so happy!

[2018-07-30 11:32] Kensuke-Hinata opened #454 "mkl exception"
I encountered the following exception on MacOS:

Traceback (most recent call last):
  File "examples/cifar10_conv.py", line 40, in <module>
    args = parser.parse_args()
  File "/Users/me/Code/Deep-Learning/neon/neon/util/argparser.py", line 366, in parse_args
    compat_mode=args.compat_mode)
  File "/Users/me/Code/Deep-Learning/neon/neon/backends/__init__.py", line 113, in gen_backend
    deter

[2018-08-08 03:36] Aurora11111 commented on #246
I meet this problem ,and I sloved it just by uninstall old gcc,and reinstall a gcc verison of 4.9

[2018-08-10 08:22] nareshshah139 opened #455 "Neon model weights"
Would appreciate getting any documentation on how weights are stored in a neon model file. Is it similar/the same as keras/pytorch/tensorflow ? I'm building a converter from neon to keras/pytorch and being able to figure out how the model weights are stored will be super helpful in doing so.

[2018-09-16 04:27] indecision103 opened #456 "Does mkl backend optimize numpy?"
Does mkl backend optimize numpy such as np.rfft() or np.multiply()?
To accelerate these operations, do I need to install intel-numpy even though I have ready installed neon?
Thank you.

[2018-09-17 22:06] Ziyi-Zhao commented on #456
Nice question!

[2018-09-19 02:17] bjklemme-intel opened #457 "OSError: libmklml_gnu.so: cannot open shared object file: No such file or directory"
I tried the solutions from the previous 2 closed issues on this topic. I am trying to run examples/mnist_mlp.py

Traceback (most recent call last):
  File "examples/mnist_branch.py", line 63, in <module>
    args = parser.parse_args()
  File "/usr/local/lib/python2.7/dist-packages/neon/util/argparser.py", line 366, in parse_args
    compat_mode=args.compat_mode)
  File "/usr/local/lib/python2.7/di

[2018-09-26 14:32] abduallahnoorsayket commented on #246
Error: No results matching query were found.

how can i fix this issue ?? i am using ubantu 18+

[2018-09-30 12:57] sushanthkapisthalam opened #458 "Object identification based on images"
Im working on a data set with object identification based on their images. I have 25 classes, since im very new to Neural networks and coding can some one suggest me what all pre-processing techniques can be done before sending the images in the convolution layer. I also want to implement SIFT features followed by TF-IDF retrieval.

This is what I have done so far:

from keras .models import Seque

[2018-11-25 23:02] andrewasche opened #459 "OneHot Indices issues"
Got this issue both when running the Exercise+3b from Coursera's Practical Deep Learning class. I have also got this issue on the 02 VGG Fine-Tuning.ipynb. I got this issue on neon 2.2 and aeon 1.0 . I haven't been successful finding any other info on this issue.

**Evaluating the model**
We can now compute the misclassification on the test set to see how well we did.

# Check the performance on t

[2018-11-27 18:23] tiago1405 opened #460 "Makefile Cython Version Outdated"
The Makefile on the repo is seemingly outdated causing the following error when make sysinstall was used:

_Failed building wheel for cython neon_
_failed with error code 1 in /tmp/pip-install-0vxv6117/cython/_

The error occurred when the sysinstall attempted to install Cython v:0.23.1. Using the commands
`pip install cython` or `conda install cython` would not resolve the issue as they were inst

[2019-02-08 01:09] StarGazerM opened #461 "Misclassification error of example mnist _mlp.py with GPU backend is abnormally high"
**Environment:**
- python  -- v3.5.6
- neon     -- 2.6.0
- cuda     -- 10.0.130
- os         -- manjaro linux 18.0.2
- gpu       -- GTX 1050 mobile

**Problem**
After installation, we I try to test with  mnist_mlp.py in examlpe. The misclassification becomes 90.2%,
while no error occur.
example run normally with other backend.

![err](https://user-images.githubusercontent.com/8266754/52453090-cc17

[2019-02-14 06:08] freedom9393 commented on #246
This solved my problem:

[code]

[2019-02-22 23:57] moderato commented on #437
Looks like Neon is no longer alive. Sadly close this issue.

[2019-02-22 23:57] #437 closed

[2019-03-19 08:18] TrishaMittal opened #463 "Where is Aeon?"
I am not able to install Aeon as the links for Aeon are broken and there is nothing there. Can you resolve this issue? Thanks !

[2019-03-21 15:14] ryan-nervana commented on #463
Hi @TrishaMittal. We restored aeon. It was archived by mistake. Please try again.
Thanks,

Ryan

[2019-04-10 20:45] #463 closed

[2019-07-21 09:21] rh01 commented on #463
can you provide the aeon of previous version or release version before.

[2019-07-21 09:24] rh01 opened #469 "Aeon of earlier version cannot found"
can you provide the aeon of previous version or release version before.

[2019-07-26 13:41] akila-rb opened #470 "video_3d_demo"
Program keeps throwing me the error "Configuring incomplete, errors occurred!". Kindly assist.

[2019-09-06 17:08] buttercutter commented on #224
Could anyone advise how to obtain this improved version of winograd convolution from the [original version](https://arxiv.org/pdf/1509.09308.pdf#page=2) which is described by equation (7) in the paper ?

[2019-09-06 21:32] andravin commented on #224
Hi @promach

I generated the above transforms using an early version of the winCNN software, now available here: https://github.com/andravin/wincnn

Matrix A<sup>T</sup> is a Vandermonde matrix, and the "polynomial roots" used by winCNN are just the numbers in the second row, leaving off the last column.

Since these matrices were released, others have researched possibly better transforms. Please

[2019-10-21 07:54] buttercutter commented on #224
@andravin

I do not understand why the proposed [toom-cook ALGORITHM 1](https://arxiv.org/pdf/1803.10986.pdf#page=7) in the paper _Error Analysis and Improving the Accuracy of Winograd Convolution for Deep Neural Networks_ does not need [polynomial interpolation stage](https://en.wikipedia.org/wiki/Toom%E2%80%93Cook_multiplication#Interpolation) ?

[2019-11-02 10:11] yixuan178 opened #471 "how to see symbol of core dump from neon failed"
hello all, i tried to run neon on docker environment, when I run cifar10 example, it will crash by "model.fit(train, optimizer=opt_gdm, num_epochs=num_epochs,
          cost=cost, callbacks=callbacks)"
The execute command is:
**root@6e86070d4014:/tmp# python cifar10_lenet.py -b mkl
Illegal instruction (core dumped)**

I have downloaded that core dump, but w/o symbol file, it will show question mar

[2019-11-02 10:19] yixuan178 commented on #471
one more clue: crash system used Intel(R) Xeon(R) CPU E5-2650 v2 @ 2.60GHz, but for  Intel(R) Xeon(R) Gold 6248 CPU @ 2.50GHz, it works fine.
mkl version is: mklml_lnx_2018.0.1.20171227

[2019-11-20 10:02] digantamisra98 opened #472 "Feature Request: Add Mish activation function"
Mish is a new novel activation function proposed in this [paper](https://arxiv.org/abs/1908.08681).
It has shown promising results so far and has been adopted in several packages including:

- [TensorFlow-Addons](https://github.com/tensorflow/addons/tree/master/tensorflow_addons/activations)
- [SpaCy (Tok2Vec Layer)](https://github.com/explosion/spaCy)
- [Thinc - SpaCy's official NLP based ML libr

[2020-02-19 05:54] silkyrose opened #473 "pip install failed, posix-ipc using sys/time.h failed"
pip install nervananeon failed.

 posix_ipc_module.c(37): fatal error C1083: 无法打开包括文件: “sys/time.h”
 no such file or directory

Mine is CPU x86-64

How can I do?

[2020-02-19 06:55] silkyrose commented on #473
I deleted <sys\time.h> and faced another error:
posix_ipc_module.c(46): fatal error C1083: can not open include file : “win32\pthread.h
: No such file or directory
Also pthread.h is for linux
I'm on windows.

[2020-03-01 03:03] silkyrose commented on #473
nervananeon only can be installed in unix.

[2020-03-14 10:54] venkidevictor opened #474 "IndexError: index 5000 is out of bounds for axis 0 with size 5000"
Hi,
I am running my capstone project and working on my dataset. When I tried to clean my dataset removing the outliers, I am getting this error.
I am attaching the code as below.

#Removing Outliers
#Tukey Method

# import required libraries
from collections import Counter

# Outlier detection
def detect_outliers(df,n,features):

    outlier_indices = []

    # iterate over features(columns)
    f

[2020-03-29 08:23] buttercutter commented on #224
@andravin What do you exactly mean by 'polynomial roots' ? and **why** are they located in the second row ?

[2020-07-23 11:23] krpwn opened #475 "IndexError: index 200 is out of bounds for axis 0 with size 2"
I have been doing the codes as -

df=pd.DataFrame(adata)
df.head()

xq=adata['batch size'].values.reshape(-1,1)
yq=adata['Price'].values.reshape(-1,1)

mod = smf.quantreg('yq ~ xq', df)
res = mod.fit(q=.5)
print(res.summary())

quantiles = [.05, .25, .50, .75, .95]
def fit_model(q):
    res = mod.fit(q=q)
    return [q, res.params['Intercept'], res.params[xq]] + res.conf_int().ix[xq].tolist()
mode

[2021-02-05 12:51] yousefis commented on #246
I do not have an admin permission, any solutions?

[2021-04-16 08:26] keval2232 opened #477 "About installation"
Hi! my name is keval pandya . I have issue about neon that . how can I install neon on my python in windows of . the python version is 3.8.5. so can you tell me how can I install neon because I am learning deep-learning from intel and there is use of neon framework so please help me fast as possible so I can learn . please provide me solution to install it on windows

[2021-05-26 14:21] LasalJayawardena commented on #477
I also have same problem

[2021-05-29 03:41] #472 closed, assigned to nobody

[2022-06-15 21:37] chandratejatiriveedhi opened #478 "No module named neon.util.compat"
Hi All,

I am getting this error when I am running the script that has the following line, from neon.util.compat import range, StringIO. And I get the error that there isn't a module named neon.util.compat. How do I fix this error?

And help will be appreciated